
.principal{
    height: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self:center;
}
.fon{
    background-image: url("font.png");
    width: 200%;
    height: 250vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.text0{
    background-color: rgb(240, 247, 247);
    display: flex;
    justify-content: center;
    justify-self: center;
    position: absolute;
    top: 3.5rem;
    width: 50%;
    text-align: center;
    line-height: 0.5rem;
    padding: 1rem;
    border-radius: 3rem;
    border: 1rem  groove black;

}

#logo{
    width: 11%;
    height: 75%;
    position: absolute;
    left: 1rem;
    bottom: 0.7rem;
}
.test{
    position: relative;
    left: 3rem;
}
.ceterim{
    display: flex;
    background-color: black;
    
}
.cent1{
    position: absolute;
    top: 15rem;
    left: 12rem;

}
#centim{
    width: 95%;
    height: 100vh;

}
.icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 68rem;
    left: 15rem;
}
.ico1{
    width: 8%;
    height: 8%;
    position: relative;
    right: 0.8rem;
}

.ico2{
    
    width: 10%;
    height: 10%;
    position: relative;
    right: 0.8rem;
    
}
.ico3{
    width: 10%;
    height: 10%;
    position: relative;
    right: 1rem;
    top: 0.5rem;
    
}
.ico4{
    width: 7%;
    height: 7%;
    position: relative;
    right: 0.8rem;
    
}
.whap{
    display: flex;
}
.mail{
    display: flex;
}
.tele{
    display: flex;
}
.position{
    display: flex;
}